pragma solidity 0.4.24;

import "../../contracts/StructLite.sol";


contract {{ name.Plural }}FunctionParametersScenario {
    using {{ name.Plural }} for {{ name.Plural }}.{{ name.UpperCamelCase }};
    event SuccessfulyParsed();

    function singleStruct(bytes32[{{ slotsLength }}] _{{ name.lowerCamelCase }}Data) public returns(
        {{#each variables}}
        {{ type }} {{ name.lowerCamelCase }}{{#unless @last}},{{/unless}}
        {{/each}}
    ) {
        {{ name.Plural }}.{{ name.UpperCamelCase }} memory _{{ name.lowerCamelCase }};
        _{{ name.lowerCamelCase }}.data = _{{ name.lowerCamelCase }}Data;
        emit SuccessfulyParsed();
        return _{{ name.lowerCamelCase }}.get{{ name.UpperCamelCase }}();
    }

    function knownLengthStructArray(bytes32[{{ slotsLength }}][10] _{{ name.lowerCamelCase }}Data) public returns(
        {{#each variables}}
        {{ type }} {{ name.lowerCamelCase }}{{#unless @last}},{{/unless}}
        {{/each}}
    ) {
        {{ name.Plural }}.{{ name.UpperCamelCase }}[10] memory _{{ name.lowerCamelCase }};
        for (uint i = 0; i < _{{ name.lowerCamelCase }}Data.length; i++) {
            _{{ name.lowerCamelCase }}[i].data = _{{ name.lowerCamelCase }}Data[i];
        }
        emit SuccessfulyParsed();
        return _{{ name.lowerCamelCase }}[0].get{{ name.UpperCamelCase }}();
    }

    function unknownLengthStructArray(
        {{#each slots}}
        bytes32[] _{{ ../name.lowerCamelCase }}DataSlot{{ @index }}{{#unless @last}},{{/unless}}
        {{/each}}
    ) public returns(
        {{#each variables}}
        {{ type }} {{ name.lowerCamelCase }}{{#unless @last}},{{/unless}}
        {{/each}}
    ) {
        {{ name.Plural }}.{{ name.UpperCamelCase }}[] memory _{{ name.lowerCamelCase }};
        for (uint i = 0; i < _{{ name.lowerCamelCase }}DataSlot0.length; i++) {
            {{#each slots}}
            _{{ ../name.lowerCamelCase }}[i].data[{{ @index }}] = _{{ ../name.lowerCamelCase }}DataSlot{{ @index }}[i];
            {{/each}}
        }
        emit SuccessfulyParsed();
        return _{{ name.lowerCamelCase }}[0].get{{ name.UpperCamelCase }}();
    }
}
