// As a {{ type }}, {{ name }} will use {{ byte_length }} bytes.
uint256 public constant {{ struct }}_{{ name }}_OFFSET = {{ offset }};
uint256 public constant {{ struct }}_{{ name }}_MASK = {{ mask }};
uint256 public constant {{ struct }}_{{ name }}_NEGATIVE_MASK = {{ negative_mask }};
