function set{{ struct }}{{ name }}({{ type }} _{{ name }}) public {
    {{ struct }}Data[{{ index }}] = ({{ struct }}Data[{{ index }}] & {{ struct }}_{{ name }}_NEGATIVE_MASK) | ((uint256(_{{ name }}) * {{ struct }}_{{ name }}_OFFSET) & {{ struct }}_{{ name }}_MASK);
}
