const constants = require("./utils/constants");

const {{ name.Plural }}SingleStructScenario = artifacts.require("{{ name.Plural }}SingleStructScenario");

contract("{{ name.Plural }}SingleStructScenario", () => {
  it("Should Write and Read all of the variables in a bytes32[]", async () => {
    let {{ name.plural }}SingleStructScenario = await {{ name.Plural }}SingleStructScenario.deployed();
    console.log(
      "{{ name.UpperCamelCase }} Writting Full Struct",
      await {{ name.plural }}SingleStructScenario.write{{ name.UpperCamelCase }}.estimateGas(
        {{#each variables}}
        constants["{{ type }}"]{{#unless @last}},{{/unless}}
        {{/each}}
      )
    );
    await {{ name.plural }}SingleStructScenario.write{{ name.UpperCamelCase }}(
      {{#each variables}}
      constants["{{ type }}"]{{#unless @last}},{{/unless}}
      {{/each}}
    );
    console.log(
      "{{ name.UpperCamelCase }} Reading Full Struct",
      await {{ name.plural }}SingleStructScenario.read{{ name.UpperCamelCase }}.estimateGas()
    );
  });
  {{#each variables}}

  it("Should Write and Read one {{ name.lowerCamelCase }}", async () => {
    let {{ ../name.plural }}SingleStructScenario = await {{ ../name.Plural }}SingleStructScenario.deployed();
    console.log(
      "{{ ../name.UpperCamelCase }} Writting Variable {{ name.UpperCamelCase }}",
      await {{ ../name.plural }}SingleStructScenario.write{{ ../name.UpperCamelCase }}{{ name.UpperCamelCase }}.estimateGas(
        constants["{{ type }}"]
      )
    );
    await {{ ../name.plural }}SingleStructScenario.write{{ ../name.UpperCamelCase }}{{ name.UpperCamelCase }}(
      constants["{{ type }}"]
    );
    console.log(
      "{{ ../name.UpperCamelCase }} Reading Variable {{ name.UpperCamelCase }}",
      await {{ ../name.plural }}SingleStructScenario.read{{ ../name.UpperCamelCase }}{{ name.UpperCamelCase }}.estimateGas()
    );
  });
  {{/each}}
});
